DJANGO_SECRET_KEY=SECRET_KEY = django-insecure-h^!3$!tf)eev!3f_1l&kwfqj$&b@z1r68g=%7bdo52@r^9j)q=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=taskforge
DB_USER=taskforge
DB_PASSWORD=taskforge
DB_HOST=localhost
DB_PORT=5432